/**
 * Custom css style for certificate pdf generator
 */

.certificate-body {}

.certificate-body table {
  width: 100%;
  overflow: hidden;
}

.certificate-body .event-right-column {
  height: 120px;
  width: 46%;
}

.certificate-body .side-certificate-event {
  color: #fff;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase !important;  
}

.certificate-body .certificate-name {
  color: #1b5b8f;
  font-size: 32px;
  font-weight: bold;
  line-height: 35px;
}

.certificate-body .certificate-event {
  color: #fff;
  text-transform: uppercase !important;  
}

.certificate-footer .footer-header {
  height: 30px;
}

.certificate-footer .event-date-venue {
  color: #2575ba;
}